.blog .title {
  font-family: "Bebas Neue", cursive;
  color: #135359;
}

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}
.blog .process-list .process {
  margin-bottom: 25px;
}
.blog .process-list .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
  text-align: left;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog button {
  height: auto;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
}
.blog .card * {
  text-align: left;
}
.blog .card .card-title {
  color: #4a4a4a;
  font-size: 24px;
}
.blog .card .card-text {
  color: #4a4a4a;
  font-size: 18px;
}
.blog .card .category {
  color: #67b54b;
  text-align: left;
  font-size: 14px;
}
.blog .card .read-time {
  color: #979797;
  font-size: 14px;
}
.blog .card .author p {
  color: #4a4a4a;
  font-size: 14px;
  margin: 15px 0 16px 8px;
}
.blog .card .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.blog .card .read-more {
  text-decoration: underline;
}

.tryMatcha {
  background-color: #96d178;
  padding: 5% 5% 2%;
  margin-top: -30px;
}
.tryMatcha h1 {
  font-size: 60px;
}
.tryMatcha .signup-form input {
  padding: 0.5rem 1rem;
  margin-right: 0;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  height: 55px;
  width: 60%;
  max-width: 250px;
}
.tryMatcha .signup-form button {
  margin-bottom: 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
  margin-left: -12px;
  padding: 0.8rem 1.2rem;
  height: 55px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
}
.tryMatcha p {
  color: #ffffff;
  font-size: 14px;
}

.freeaccount {
  padding: 5% 10% 5%;
  margin: 0;
  max-width: unset;
}
.freeaccount .box {
  background-color: #025157;
  padding: 5%;
  border-radius: 10px;
  color: #ffffff;
}
.freeaccount .box form + p {
  color: #b3cbcd;
  font-size: 14px;
}
.freeaccount .col-sm p {
  text-align: left;
  font-size: 17px;
  color: #ffffff;
}
.freeaccount .col-sm h2 {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
}
.freeaccount .col-sm a {
  color: #67b54b;
  text-decoration: none;
}
.freeaccount .signup-form input {
  padding: 0.5rem 1rem;
  margin-right: 0;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  height: 55px;
  width: 55%;
  max-width: 250px;
}
.freeaccount .signup-form button {
  margin-bottom: 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
  margin-left: -12px;
  padding: 0.8rem 1.2rem;
  height: 55px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  background-color: #67b54b;
}

/*# sourceMappingURL=output.css.map */
