.footer {
  padding: 5% 10% 2%;
  margin: 0;
  max-width: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: -2;
}
@media (max-width: 575px) {
  .footer {
    padding: 3% 6% 10%;
    margin-top: 10%;
  }
  .footer .row {
    flex-direction: column;
  }
}
.footer h2 {
  font-family: "Bebas Neue", cursive;
  color: #025157;
}
.footer p {
  font-size: 16px;
  text-align: left;
  color: #4a4a4a;
}
@media (max-width: 575px) {
  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .footer .signup-form {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .signup-form {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .signup-form {
    display: flex;
    justify-content: space-around;
  }
}
.footer .signup-form input {
  padding: 0.5rem 1rem;
  margin-right: 0;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  height: 55px;
  width: 55%;
  max-width: 250px;
}
@media (max-width: 575px) {
  .footer .signup-form input {
    margin-right: -30px;
    font-size: 90%;
    padding: 0.2rem 0.7rem;
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .signup-form input {
    margin-right: -30px;
    font-size: 70%;
    padding: 0.2rem 0.7rem;
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .signup-form input {
    font-size: 90%;
  }
}
.footer .signup-form button {
  margin-bottom: 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
  margin-left: -12px;
  padding: 0.8rem 1.2rem;
  height: 55px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  background-color: #025157;
}
@media (max-width: 575px) {
  .footer .signup-form button {
    padding: 0.8rem 0.5rem;
    font-size: 90%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .signup-form button {
    padding: 0.8rem 0.5rem;
    font-size: 70%;
    max-width: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .signup-form button {
    font-size: 90%;
  }
}
.footer .signup-form .text-button:hover {
  background-color: #67b54b;
}
.footer h4 {
  text-transform: uppercase;
  color: #025157;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .footer h4 {
    text-align: center;
    width: 94%;
  }
}
.footer .col-sm ul {
  font-size: 18px;
  padding: 0;
}
@media (max-width: 575px) {
  .footer .col-sm ul {
    font-size: 13px;
    margin-bottom: 10%;
    margin-top: 5%;
  }
}
.footer li {
  margin-bottom: 20px;
  display: block;
  margin-left: 0;
}
@media (max-width: 575px) {
  .footer li {
    margin-bottom: 10px;
  }
}
.footer li a {
  text-decoration: none;
  color: #4a4a4a;
}
.footer li :hover {
  color: #67b54b;
}
.footer .media {
  display: flex;
}
@media (max-width: 575px) {
  .footer .media {
    margin-bottom: 8%;
  }
}
.footer .social svg:hover {
  fill: #67b54b;
}
.footer .social {
  margin-left: 28px;
}
.footer .social svg {
  fill: #135359;
}
@media (max-width: 575px) {
  .footer .social {
    margin-left: 0;
    align-items: left;
  }
}
.footer .social a {
  margin-right: 20px;
  text-decoration: none;
}
@media (max-width: 575px) {
  .footer .social a {
    margin-left: 20px;
  }
}
.footer .col-4 {
  width: 50%;
}
@media (max-width: 575px) {
  .footer .col-4 {
    text-align: center;
    line-height: 1;
    flex-direction: column;
    width: 80%;
  }
}
.footer .col-4 p {
  text-align: right;
  margin: 15px 0px 16px;
  font-size: 80%;
}
@media (max-width: 575px) {
  .footer .col-4 p {
    display: contents;
  }
}
@media (max-width: 575px) {
  .footer .col-4 a img {
    margin-bottom: 20%;
  }
}
@media (max-width: 575px) {
  .footer .col-sm {
    margin-left: 0;
  }
}
.footer #footerinfo {
  margin-left: 8.333333%;
}
@media (max-width: 575px) {
  .footer #footerinfo {
    text-align: center;
    margin-left: 0%;
  }
}

/*# sourceMappingURL=pricingsass.css.map */
