body {
    background-color: #FFFbF7;
}

/* Se agregaron Fonts de Google aquí y en h1, en la de aquí la inicial era Verdana  */

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

p {
    color: #8b8b8bcc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 20px;
}

.main button {
    margin-bottom: 1rem;
}

button {
    color: #FFF;
    background-color: #025157;
    border: none;
}

.header {
    margin: 40px 20px 20px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1030;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

/* Aquí tuve dudas con la alineación, me quedó más arriba que el menú y tuve que agregar margin, pero estoy seguro que no es recomendable */
.logo > img {
    width: 15%;
    margin: 15%;
}

.navbar {
    text-align: center;
    color: #025157;
    font-weight: 500;
}
  
.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
  
.actions > * {
    margin: 0 10px;
}
  
.actions a {
    color: #67b54b;
}
  
.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

/* .navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
} */

.main {
    margin-top: 140px;
    text-align: center;
}

/* .actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
} */

.banner1 > img {
    width: 50%;
}

.banner2 > img {
    width: 70%;
}

.publish {
    margin-left: 30px;
}
  
.publish h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    text-align: left;
}
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
  
.publish > form {
    display: flex;
  }
  
.publish > form p {
    color: #025157;
    margin-right: 18px;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
  
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    margin-top: 0;
    margin-bottom: 4rem;
}
  
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}
  
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.ecommerce {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
}

.brands {
    flex: 2;
    padding-right: 100px;
}

.brands h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 51px;
    line-height: 61px;
    margin-bottom: 0%;
    color: #025157;
}

.brands p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.brands button {
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 12px 12px 12px;
    font-weight: 600;
    margin-left: 0;
}

.brands img {
    width: 500px;
    max-width: 100%;
    margin-top: 32px;
}

.carrusel {
    flex: 1;
}

.magazine {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.magazine-photos {
    position: relative;
}

.magazine-photos img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mambe-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: -20px;
    background-color: #f9da73;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mambe-logo img {
    max-width: 75%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.magazine-text {
    padding: 25px;
}

.magazine-text h3 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.magazine-text h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.infor {
    margin-top: 0;
    color: #343434;
    font-size: 16px;
}

.infor p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.cases {
    padding: 25px;
    margin-bottom: 0;
    background-color: unset;
    border-top: unset;
}

.cases button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}

.services {
    height: 100vh;
    display: grid;
    /* Misma forma pero extendida
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2rem;
    padding: 4rem 10rem 6rem 10rem;  
    background: #025157;
}

.services img {
    width: 50px;
}

.services h2 {
    margin-bottom: 1%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 100;
}

.services p {
    margin-bottom: 1%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.services a {
    border: none;
    color: #a1d683;
    text-align: left;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    text-decoration: none;
}

.box-card {
    background: #fff;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 2rem;
}

.box-content1 {
    padding-left: 0%;
    padding-right: 3rem;
    flex: 2;
}

.box-content1 figure {
    padding-bottom: 1%;
}

.box-content1 img {
    background-color: #ef7178;
    border-radius: 50px;
    padding: 1vh;
    width: 2rem;
}

.box-content2 {
    padding-left: 0%;
    padding-right: 3rem;
    flex: 2;
}

.box-content2 figure {
    padding-bottom: 1%;
}

.box-content2 img {
    background-color: #72cee9;
    border-radius: 50px;
    padding: 1vh;
    width: 2rem;
}


.box-content3 {
    padding-left: 0%;
    padding-right: 3rem;
    flex: 2;
}

.box-content3 figure {
    padding-bottom: 1%;
}

.box-content3 img {
    background-color: #eea856;
    border-radius: 50px;
    padding: 1vh;
    width: 2rem;
}


.box-content4 {
    padding-left: 0%;
    padding-right: 3rem;
    flex: 2;
}

.box-content4 figure {
    padding-bottom: 1%;
}

.box-content4 img {
    background-color: #67b54b;
    border-radius: 50px;
    padding: 1vh;
    width: 2rem;
}

.box-img {
    flex: 1;
    width: 40%;
    position: relative;
    right: 1rem;
    height: 85%;
}

.box-img figure {
    margin-top: 0;
    height: 100%;
}

.box-img img {
    width: 40vh;
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(203, 199, 199);
    background: #fff;
}

.howtodo {
    padding-bottom: 4rem;
}

.howtodo h2 {
    font-family: 'Bebas Neue', cursive;
    color: #025157;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 5%;
}

.header-howtodo p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}

.howtodo button {
    margin-left: 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 20px;
    margin-left: 43%;
}

.steps {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 5% 10%;  
    background: #FFFbF7;
}

.steps h3 {
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    color: #025157;
    text-align: center;
    font-size: 2rem;
}

.steps p {
    margin-bottom: 2rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.howtodo a {
    color: #a1d683;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;   
}

.steps img {
    width: 10%;
}

.steps figure img {
    width: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    padding: 0%;
}

.publishstep {
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #dadada;
    overflow: hidden;
}

.publishstep > img {
    opacity: 0.5;
}

.promote {
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #dadada;
    overflow: hidden;
}

.promote > img {
    opacity: 0.5;
}

.capture {
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #dadada;
    overflow: hidden;
}

.capture > img {
    opacity: 0.5;
}

.measure {
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #dadada;
    overflow: hidden;
}

.measure > img {
    opacity: 0.5;
}


/* Celular */

@media (max-width: 575px) {
    .navbar,
    .actions {
      text-align: center;
    }

    h1 {
        font-size: 30px;
    }

    .main p {
        font-size: 15px;
        margin: 1rem;
    }

    .main {
        margin-top: 6rem;
    }
/* 
    .fixed-header {
        position: fixed;
    } */

    .banner1 > img {
        width: 100%;
    }

    .banner2 > img {
        width: 100%;
    }

    .promo {
        flex-direction: column-reverse;
        width: 80%;
        margin: 3rem 2rem 2rem 2rem;
    }

    .publish > form {
        flex-direction: column;
        align-items: flex-start;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 5px;
    }
    
    .publish > form > div > input {
        width: 60%;
    }

    .publish form p {
        font-size: 90%;
        margin-bottom: 1%;
    }

    .publish p {
        font-size: 13px;
    }

    .publish {
        margin-left: 0;
        margin-top: 10px;
    }

    .explanatory-video {
        width: 100%;
        align-items: stretch;
    }

    .explanatory-video img {
        display: none;
    }

    .ecommerce {
        flex-direction: column;
        padding: 5%;
    }

    .ecommerce h2 {
        font-size: 150%;
        line-height: 1;
    }
    
    .magazine {
        width: 80%;
        align-items:  center;
        left: 10.2%;
    }

    .magazine-text {
        padding: 2rem 1rem 0 1rem;
    }

    .magazine-text h3 {
        font-size: 90%;
    }

    .magazine-text h2 {
        font-size: 100%;
        margin-bottom: 8%;
        line-height: 1.2;
    }

    .infor p {
        font-size: 90%;
        line-height: 1.2;
    }

    .mambe-logo {
        width: 85px;
        height: 85px;
    }

    .cases {
        padding-top: .5rem;
        margin-bottom: 0;
    }

    .cases button {
        font-size: 80%;
        padding: .5rem 1rem;
    }

    .brands {
        padding: 0;
    }

    .brands p {
        font-size: 14px;
        line-height: 1.3;
        margin-left: 0;
        margin-right: 0;
    }

    .brands figure {
        width: 100%;
    }

    .brands img {
        margin-bottom: 3rem;
    }

    .magazine-photos img {
        max-height: none;
    }

    .publish > h3 {
        font-size: 20px;
        line-height: 1.2;
    }

    .services {
        grid-template: repeat(4, 1fr) / 1fr;
        padding: 2rem 1rem 2rem 1rem;
        gap: 1rem;
        height: 100%;
    }

    .box-card {
        padding: 1rem;
    }

    .box-img {
        display: none;
    }

    .box-content1  {
        padding-right: 5px;
    }

    .box-content1 h2 {
        font-size: 18px;
    }

    .box-content1 p {
        font-size: 13px;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .box-content1 a {
        font-size: 15px;
    }

    .box-content1 img {
        border-radius: 100%;
        padding: 2%;
        height: 30px;
        width: 10%;
        margin-bottom: 1rem;
    }

    .box-content2  {
        padding-right: 5px;
    }

    .box-content2 h2 {
        font-size: 18px;
    }

    .box-content2 p {
        font-size: 13px;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .box-content2 a {
        font-size: 15px;
    }

    .box-content2 img {
        border-radius: 100%;
        padding: 2%;
        height: 30px;
        width: 10%;
        margin-bottom: 1rem;
    }

    .box-content3  {
        padding-right: 5px;
    }

    .box-content3 h2 {
        font-size: 18px;
    }

    .box-content3 p {
        font-size: 13px;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .box-content3 a {
        font-size: 15px;
    }

    .box-content3 img {
        border-radius: 100%;
        padding: 2%;
        height: 30px;
        width: 10%;
        margin-bottom: 1rem;
    }

    .box-content4  {
        padding-right: 5px;
    }

    .box-content4 h2 {
        font-size: 18px;
    }

    .box-content4 p {
        font-size: 13px;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .box-content4 a {
        font-size: 15px;
    }

    .box-content4 img {
        border-radius: 100%;
        padding: 2%;
        height: 30px;
        width: 10%;
        margin-bottom: 1rem;
    }

    .header-howtodo h2 {
        font-size: 25px;
    }

    .header-howtodo p,
    .header-howtodo a {
        font-size: 13px;
    }

    .header-howtodo p {
        max-width: 80%;
    }

    .header-howtodo button {
        margin-left: 27%;
        font-size: 14px;
        padding: 7px 20px;
    }

    .steps {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
    }

    .steps p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .steps a {
        font-size: 15px;
    }

    .publishstep img {
        display: none;
    }
    
    .publishstep figure {
        width: 50%;
        margin-left: 4rem;
    }

    .promote img {
        display: none;
    }
    
    .promote figure {
        width: 50%;
        margin-left: 4rem;
    }

    .capture img {
        display: none;
    }
    
    .capture figure {
        width: 50%;
        margin-left: 4rem;
    }

    .measure {
        padding-bottom: 2rem;
    }

    .measure img {
        display: none;
    }
    
    .measure figure {
        width: 50%;
        margin-left: 4rem;
    }
}

/* Vista Landscape */

@media (min-width: 576px) and (max-width: 767px) {
    .navbar,
    .actions {
      text-align: center;
    }

    .main {
        margin-top: 5rem;
    }

    .main  h1 {
        font-size: 200%;
    }

    .main p {
        font-size: 100%;
        margin: 1rem;
    }

    .promo {
        flex-direction: column-reverse;
        width: 80%;
        margin: 3rem 2rem 2rem 2rem;
    }

    .publish {
        width: 100%;
    }

    .publish > form p {
        align-self: center;
        margin-right: .6rem;
    }

    .publish form p {
        font-size: 90%;
        margin-bottom: 1%;
    }

    .publish p {
        font-size: .8rem;
    }

    .explanatory-video {
        margin-top: 10%;
    }

    .ecommerce {
        padding: 5%;
        align-items: flex-start;
    }

    .ecommerce h2 {
        font-size: 200%;
        line-height: 1.2;
        padding-bottom: 3%;
    }

    .ecommerce p {
        font-size: 90%;
        padding-bottom: 3%;
    }

    .brands {
        padding-right: 7%;
    }

    .brands img {
        margin-top: 1rem;
    }

    .magazine {
        width: 90%;
        right: -5%;
    }
    
    .magazine-photos img {
        max-height: none;
    }

    .magazine-text {
        padding: 2rem 1rem 1rem 1rem;
    }

    .magazine-text h3 {
        font-size: 90%;
    }

    .magazine-text h2 {
        font-size: 100%;
        margin-bottom: 8%;
    }

    .mambe-logo {
        width: 80px;
        height: 80px;
    }

    .infor {
        font-size: 90%;
    }

    .cases {
        padding: 0 1rem 1rem 1rem;
        margin: 0;
    }

    .cases button {
        font-size: 80%;
        padding: .5rem 1rem;
    }

    .services {
        grid-template: repeat(4, 1fr) / 1fr;
        padding: 2rem 2rem 2rem 2rem;
        gap: 2rem;
        height: 100%;
    }

    .services h2 {
        font-size: 110%;
    }

    .services a {
        font-size: 85%;
    }

    .services p {
        font-size: 85%;
    }

    .box-card {
        /* flex-direction: column; */
        align-items: center;
    }

    .box-img img {
        width: 150%;
        opacity: 0.8;
    }

    .header-howtodo h2 {
        font-size: 200%;
    }

    .header-howtodo p,
    .header-howtodo a {
        font-size: 100%;
    }

    .header-howtodo p {
        max-width: 90%;
    }

    .header-howtodo button {
        margin-left: 37%;
        font-size: 14px;
        padding: .5rem 1rem;
    }

    .steps {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        padding: 5%
    }

    .steps {
        gap: 3%;
    }

    .steps p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .steps a {
        font-size: 15px;
    }
    
    .publishstep figure {
        width: 50%;
        margin-left: 4rem;
    }
    
    .promote figure {
        width: 50%;
        margin-left: 4rem;
    }
    
    .capture figure {
        width: 50%;
        margin-left: 4rem;
    }

    .capture p {
        padding-bottom: 1rem;
    }
    
    .measure figure {
        width: 50%;
        margin-left: 4rem;
    }
}

/* Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .navbar,
    .actions {
      text-align: center;
    }
    
    .main {
        margin-top: 5.5rem;
    }

    .main input {
        margin: 0 1% 0 0;
    }

    .main  h1 {
        font-size: 300%;
    }

    .main p {
        font-size: 120%;
        margin: 2rem;
    }

    .promo {
        flex-direction: column-reverse;
        width: 90%;
        margin: 5rem 2rem 2rem 2rem;
    }
    .explanatory-video {
        margin-top: 5%;
    }

    .ecommerce {
        padding: 5%;
        align-items: flex-start;
    }

    .ecommerce h2 {
        font-size: 200%;
        line-height: 1.2;
        padding-bottom: 3%;
    }

    .ecommerce p {
        font-size: 90%;
        padding-bottom: 3%;
    }

    .brands {
        padding-right: 7%;
    }

    .brands img {
        margin-top: 2rem;
    }

    .magazine {
        width: 90%;
        right: -5%;
    }
    
    .magazine-photos img {
        max-height: none;
    }

    .magazine-text {
        padding: 2rem 1rem 0rem 1rem;
    }

    .magazine-text h3 {
        font-size: 90%;
    }

    .magazine-text h2 {
        font-size: 100%;
        margin-bottom: 8%;
    }

    .mambe-logo {
        width: 80px;
        height: 80px;
    }

    .infor {
        font-size: 90%;
    }

    .cases {
        padding-top: 0;
        padding-bottom: 0;
    }

    .cases button {
        padding: 5%;
    }

    .services {
        grid-template: repeat(4, 1fr) / 1fr;
        padding: 4rem 2.5rem 4rem 2.5rem;
        gap: 2rem;
        height: 100%;
    }

    .services h2 {
        font-size: 140%;
    }

    .services a {
        font-size: 100%;
    }

    .services p {
        font-size: 100%;
    }

    .box-card {
        align-items: center;
    }

    .box-img img {
        width: 120%;
        opacity: 0.8;
    }

    .box-content1 figure img,
    .box-content2 figure img,
    .box-content3 figure img,
    .box-content4 figure img {
        padding: 0.5vh;
    }
    
    .header-howtodo h2 {
        font-size: 280%;
    }

    .header-howtodo p,
    .header-howtodo a {
        font-size: 110%;
    }

    .header-howtodo p {
        max-width: 90%;
    }

    .header-howtodo button {
        margin-top: 1%;
        margin-left: 37%;
        font-size: 14px;
        padding: .5rem 1rem;
    }

    .steps {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        padding: 4%;
    }

    .steps {
        gap:2.5%;
        height: 80vh;
    }

    .steps p {
        font-size: 100%;
        margin-bottom: 5px;
    }

    .steps a {
        font-size: 100%;
    }
    
    .publishstep figure {
        width: 50%;
        margin-left: 4rem;
    }
    
    .promote figure {
        width: 50%;
        margin-left: 4rem;
    }
    
    .capture figure {
        width: 50%;
        margin-left: 4rem;
    }

    .capture p {
        padding-bottom: .5rem;
    }
    
    .measure figure {
        width: 50%;
        margin-left: 4rem;
    }
}