body {
    background-color: #FFFbF7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

p {
    color: #8b8b8bcc;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;    
    font-size: 20px;
}

button {
    color: #FFF;
    background-color: #025157;
}

.header {
    margin: 40px 20px 20px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

/* Aquí tuve dudas con la alineación, me quedó más arriba que el menú y tuve que agregar margin, pero estoy seguro que no es recomendable */
.logo > img {
    width: 15%;
    margin: 20px;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

/* Aquí tuve dudas con la alineación, me quedó más arriba que el menú y tuve que agregar margin-top, pero estoy seguro que no es recomendable */
.actions {
    margin-top: 30px;
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.main {
    margin-top: 140px;
    text-align: center;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}