body {
    background-color: #FFFbF7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

/* Se agregaron Fonts de Google aquí y en h1, en la de aquí la inicial era Verdana  */
p {
    color: #8b8b8bcc;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;    
    font-size: 20px;
}

button {
    color: #FFF;
    background-color: #025157;
}

.header {
    margin: 40px 20px 20px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

/* Aquí tuve dudas con la alineación, me quedó más arriba que el menú y tuve que agregar margin, pero estoy seguro que no es recomendable */
.logo > img {
    width: 15%;
    margin: 20px;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

/* Aquí tuve dudas con la alineación, me quedó más arriba que el menú y tuve que agregar margin-top, pero estoy seguro que no es recomendable */
.actions {
    margin-top: 30px;
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.main {
    margin-top: 140px;
    text-align: center;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.publish {
    margin-left: 30px;
}
  
.publish h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    text-align: left;
}
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
  
.publish > form {
    display: flex;
  }
  
.publish > form p {
    color: #025157;
    margin-right: 18px;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
  
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
  
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}
  
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.ecommerce {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
}

.brands {
    flex: 2;
    padding-right: 100px;
}

.brands h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 51px;
    line-height: 61px;
    margin-bottom: 0%;
    color: #025157;
}

.brands p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.brands button {
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    font-weight: 600;
    margin-left: 0;
}

.brands img {
    width: 500px;
    max-width: 100%;
    margin-top: 32px;
}

.carrusel {
    flex: 1;
}

.magazine {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.magazine-photos {
    position: relative;
}

.magazine-photos img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mambe-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: -20px;
    background-color: #f9da73;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mambe-logo img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.magazine-text {
    padding: 25px;
}

.magazine-text h3 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.magazine-text h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.infor {
    margin-top: 0;
    color: #343434;
    font-size: 16px;
}

.infor p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.cases {
    padding: 25px;
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
}

.cases button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}

.services {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 4rem 10rem 8rem 10rem;  
    background: #025157;
}

.services img {
    width: 50px;
}

.box4 {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2rem;
}

.box4 h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.box4 p {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.box4 a {
    background: none;
    border: none;
    color: #a1d683;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.box5 {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2rem;
}

.box5 h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.box5 p {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.box5 a {
    background: none;
    border: none;
    color: #a1d683;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.box6 {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2rem;
}

.box6 h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.box6 p {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.box6 a {
    background: none;
    border: none;
    color: #a1d683;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.box7 {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2rem;
}

.box7 h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.box7 p {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.box7 a {
    background: none;
    border: none;
    color: #a1d683;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}